<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
	<Document name=">aod-backup.ZPM">
		<Module>
			<Name>aod-backup</Name>
			<Version>0.0.1</Version>
			<Description>Package to enable any Iris instance to archive its backups to Archive On Demand</Description>
			<Keywords>archivingondemand,backup,restore</Keywords>
			<Packaging>module</Packaging>
			<Resource Name="AODBackup.PKG"/>
			<SourcesRoot>src</SourcesRoot>
		    <FileCopy Name="config/config.json" Target="${mgrdir}config.json"/>
			<Invokes>
				<Invoke Class="IRISELK.Setup.installer" Method="PostInstall" Phase="Activate" When="After"/>
			</Invokes>
		</Module>
	</Document>
</Export>